{% extends "layout.twig" %}

{% block content %}

    <div class="jumbotron">
        <div class="container">
            <form method="post" action="festy/submit">
                <div class="form-group panel panel-success">
                    <div class="panel-heading">Edit Entry</div>
                    <div class="panel-body">
                        {% for key,fest in festy %}
                            <label for="{{key}}">{{key}}</label><input id="{{key}}" type="text" class="form-control" name="{{key}}" value="{{fest}}" />
                        {% endfor %}
                    </div>
                    <p><button class="btn btn-primary btn-lg" href="/" role="button">Submit</button></p>
                </div>

            </form>

        </div>
    </div>



{% endblock %}